

@{
    ViewBag.Title = "BootstrapIntegration / Habillements";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background-attachment:fixed">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="4"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="5"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="6"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="7"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="8"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="9"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="10"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="11"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="12"></li>
    </ol>
    <div class="carousel-inner" id="carousel">
        <div class="carousel-item active" id="carousel" data-interval="2000">
            <img src="~/images/bright_red_hair_2-wallpaper-1366x768.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/camren_bicondova_selina_kyle_gotham-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/raai_laxmi_julie_2-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/stealth_jessica_biel_4k-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/irina-shayk-5400x3600-top-fashion-models-victorias-secret-angel-5866.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/katy-perry-3000x2000-top-music-artist-and-bands-singer-actress-5774.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/longboard_2-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/milla-jovovich-3840x2160-actress-portrait-pink-469.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/native_american_girl_3-wallpaper-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/native_american_girl_with_eagle-wallpaper-2048x1152.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/nike-hyperadapt-1-0-3840x2160-self-lacing-smart-sneakers-back-to-the-9742.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/sochi_2014_people_clothing_symbols_olympics_93343_3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/mirrors_edge_2_game-wallpaper-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
</div>