

@{
    ViewBag.Title = "BootstrapIntegration / Tourisme";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="background-attachment:fixed">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="4"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="5"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="6"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="7"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="8"></li>
        <li data-target="#carouselExampleSlidesOnly" data-slide-to="9"></li>
    </ol>
    <div class="carousel-inner" id="carousel">
        <div class="carousel-item active" id="carousel" data-interval="2000">
            <img src="~/images/balloon_flight_sky_colorful_97129_3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/bench_springtime-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/boat_reflection-wallpaper-1920x1080.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/bridge_at_night-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/slovenia-3840x2160-alps-meadows-azalea-mountains-5728.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/london-3840x2160-england-travel-tourism-sunset-6551.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/london-bridge-3840x2160-london-uk-sunset-travel-tourism-5402.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/moscow_russia_red_square_light_evening_69285_3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/yekaterinburg_panorama_city_street_karl_liebknecht_avenue_lenina_river_iset_houses_bridge_russia_metropolis_ural_59141_3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item" id="carousel" data-interval="2000">
            <img src="~/images/tandem_bike-wallpaper-3840x2160.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
</div>